body {
  text-align: center;
  font-family: Helvetica;
}

/* all elements in Nav */
.image-behind {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

li, li a:visited {
  list-style-type: none;
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

footer, footer a{
  text-align: left;
  font-size: 11px;
  color: white;
  font-weight: bold;
  background-color: dimgray;
}
